.header,
.footer {
  position: fixed;
  z-index: 1;
}

.header {
  top: 0;
  background: white;
  box-shadow: 0px 1px 20px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  overflow-x: auto;
}

.footer {
  bottom: 60px;
  background: white;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  overflow-x: auto;
  padding: 12px 8px;
}

.empty {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
